<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>list employee</title>
</head>
<body>
 
 
   <div th:insert="header.html"></div>
 
 		  <hr>
 		  <table id="table_id">
 		    <thead>
 		    <tr>
 		    <td>FirstName</td>
 		    <td>Company</td>
 		    <td>Phone</td>
 		    <td>city</td>
 		    <td>country</td>
 		    <td>Action </td>
 		    </tr>
 		        </thead>
 		    <tbody>
 		    
 		    
 		    <tr th:each="emp:${empList}">
 		   
      		  
 		    <td th:text="${emp.fname}"></td>
 		    <td  th:text="${emp.companyName}"></td>
 		    <td  th:text="${emp.phone}"></td>
 		     <td th:text="${emp.address.city}"></td>
 		      <td th:text="${emp.address.country}"></td>
 		   
 		   
 		    
 		    <td>
 		   <a th:href="@{/edit?(id=${emp.id})}">  <input class="btn btn-success"  type="submit" value="edit">  </a>
 		   <a th:href="@{/delete?(id=${emp.id})}">  <input class="btn btn-danger" type="submit" value="delete">  </a>
 		     </td>
 		    </tr>
 		    	
 		 
 		    </tbody>
 		 
 </table>
 <script>
 
 $(document).ready( function () {
	    $('#table_id').DataTable();
	} ); 
 </script>
 </body>
 </html>
 